doctype html
html
  head
    include head
  body
    include nav
    .container role="main"
      form method="post" action="/save"
        div.form-group.row
          label.col-form-label.col-sm-2 for="sel" Όνομα
          div#sel.dropdown.bootstrap-select.col-sm-4
            select.selectpicker data-live-search="true" name="user" onchange="setData(this)"
              option value="0" Επιλέξτε Χρήστη
              - users.each do |u|
                option value="#{u[:id]}" data-balance="#{u[:balance]}" data-proedreio="#{u[:proedreio]}" data-banned="#{u[:banned]}" data-asylia="#{u[:asylia]}"=u[:name]
          a#user-link Ρυθμίσεις Χρήστη
        div.row style="padding-bottom:1em"
          span.col-sm-2 Ποσό οφειλής
          span#balance.col-sm-2
        div.form-group.row
          label.col-form-label.col-sm-2 for="amount_paid" Ποσό πληρωμής
          .input-group.col-sm-2
            .input-group-prepend
              span.input-group-text €
              input#amount_paid.form-control.col-sm-4 type="number" name="amount_paid"
        div.form-group.row
          label.col-form-label.col-sm-2 for="amount_donated" Ποσό δωρεάς
          .input-group.col-sm-2
            .input-group-prepend
              span.input-group-text €
              input#amount_donated.form-control.col-sm-4 type="number" name="amount_donated"
        div.input-group.form-group.row
          label.col-form-label.col-sm-2 for="comments" Σχόλια
          input#comments.form-control.col-sm-6 type="textarea" name="comments"
        //
        div.form-group
          div.input-group.custom-control.custom-switch.custom-control-inline
            input#proedreio.custom-control-input.pull-right type="checkbox" name="proedreio"
            label.custom-control-label.col-form-label for="proedreio" Proedreio
          div.input-group.custom-control.custom-switch.custom-control-inline
            input#asylia.custom-control-input type="checkbox" name="asylia"
            label.col-form-label.custom-control-label.col-form-label for="asylia" Ασυλία
          div.input-group.custom-control.custom-switch.custom-control-inline
            input#ban.custom-control-input type="checkbox" name="ban"
            label.col-form-label.custom-control-label.col-form-label for="ban" Ban
        button.btn.btn-primary name="submit" type="submit" Υποβολή
