nav.navbar.navbar-dark.bg-dark.navbar-expand
  a.navbar-brand href="#" Synelefsi
  div.collapse.navbar-collapse
    ul.navbar-nav
      - settings.nav.each do |n|
        - if request.path_info == n[:href]
          li.nav-item.active
            a.nav-link href="#{n[:href]}"=n[:title]
        - else
          li.nav-item
            a.nav-link href="#{n[:href]}"=n[:title]
