doctype html
html
  head
    include head
  body
    include nav
    .container role="main"
      form method="post" action="/settings"
        div.form-group.row
          label.col-form-label.col-sm-2 for="max_apousies" Max. # Απουσιών
          input#max_apousies.form-control.col-sm-1 type="number" name="max_apousies" value="#{user_settings[:max_apousies]}"
        div.form-group.row
          label.col-form-label.col-sm-2 for="prova_cost" Κόστος πρόβας
          input#prova_cost.form-control.col-sm-1 type="number" name="prova_cost" value="#{user_settings[:prova_cost]}"
        button.btn.btn-primary name="submit" type="submit" Αποθήκευση
