doctype html
html
  head
    include head
  body
    include nav
    #main.mx-auto
      h1=user[:name]
      h2 Επεξεργασία στοιχείων
      form method="post" action="/user"
        div.input-group
          input type="hidden" name="uid" value="#{user[:id]}"
        div.input-group.form-group.row
          label.col-form-label.col-sm-2 for="name" Όνομα
          input#name.form-control.col-sm-3 type="text" name="name" value="#{user[:name]}"
        div.input-group.form-group.row
          label.col-form-label.col-sm-2 for="email" E-mail
          input#email.form-control.col-sm-3 type="text" name="email" value="#{user[:email]}"
        div.input-group.form-group.row
          label.col-form-label.col-sm-2 for="phone" Τηλέφωνο
          input#phone.form-control.col-sm-2 type="text" name="phone" value="#{user[:phone]}"
        div.input-group.form-group.row
          label.col-form-label.col-sm-2 for="card-number" Αρ. Κάρτας
          input#card.form-control.col-sm-1 type="text" name="card-number" value="#{user[:card_number]}"
        div.input-group.form-group.row
          label.col-form-label.col-sm-2 for="apousies" Απουσίες
          input#apousies.form-control.col-sm-1 type="text" name="apousies" value="#{user[:apousies]}"
        div.input-group.form-group.row
          label.col-form-label.col-sm-2 for="balance" Balance
          input#balance.form-control.col-sm-1 type="text" name="balance" value="#{user[:balance]}"
        div.input-group.form-group.row
          label.col-form-label.col-sm-2 for="telegram-id" Telegram ID
          input#telegram-id.form-control.col-sm-1 type="text" name="telegram-id" value="#{user[:telegram_id]}"
        button.btn.btn-primary type="submit" Αποθήκευση στοιχείων
      h1 Ιστορικό
      table.table.table-hover.table-inverse
        tr
          th Ποσό πληρωμής
          th Ποσό δωρεάς
          th Σχόλια
          th Banned
          th Έκανε απουσία
          th Είναι στο προεδρείο
          th Έχει ασυλία
        - logs.each do |l|
          tr
            td=l[:amount_paid]
            td=l[:amount_donated]
            td=l[:comments]
            td=get_boolean(l[:ban])
            td=get_boolean(l[:apousia])
            td=get_boolean(l[:proedreio])
            td=get_boolean(l[:asylia])
