doctype html
html
  head
    include head
  body
    include nav
    #main.mx-auto
      table#myTable.table.table-hover.table-inverse.table-sortable data-toggle="table"
        thead
          tr
            th data-sortable="true" Name
            th data-sortable="true" Email
            th data-sortable="true" Phone
            th data-sortable="true" Card #
            th data-sortable="true" Active
            th data-sortable="true" Proedreio
            th data-sortable="true" Banned
            th data-sortable="true" Asylia
            th data-sortable="true" Apousies
            th data-sortable="true" Balance
            th data-sortable="true" Telegram ID
        - users.each do |u|
          tr
            td data-field="name"
              a href="user?uid=#{u[:id]}"=u[:name]
            td data-field="email"=u[:email]
            td data-field="phone"=u[:phone]
            td data-field="card_number"=u[:card_number]
            td data-field="active"=get_boolean(u[:active])
            td data-field="proedreio"=get_boolean(u[:proedreio])
            td data-field="banned"=get_boolean(u[:banned])
            td data-field="asylia"=get_boolean(u[:asylia])
            td data-field="apousies"=u[:apousies]
            td data-field="balance"=u[:balance]
            td data-field="telegram-id"=u[:telegram_id]
